<!DOCTYPE html>
<html>
<head>
  <title>Store - Products: <%= controller.action_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<header style="height: 60px;">
	<% if current_user %>
		<p>Hello <%= current_user.name %> | <%= link_to "Sign out", "/logout", method: "delete" %> </p>
	<% else %>
		<p><%= link_to "Sign in", "/login" %> | <%= link_to "Sign up", new_user_path %> </p>
	<% end %>
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>
	</header>


<%= yield %>

</body>
</html>
